
@{
    Layout = null;
    ViewBag.Title = "PersonalRegister";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width,inital-scale=1,maximum-sale=1,user-scalable=no">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <title>PersonalRegister</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
